body{
    background-color: hsl(212, 45%, 89%);
    /* text-align: center; */
    font-family: 'Outfit', sans-serif;
  }

p{
    size: 15px;
}

.attribution { 
    font-size: 11px; 
    /* text-align: center;  */
    /* position: absolute; */

}
.attribution a { color: hsl(228, 45%, 44%); }

.div-totalContainer{
    text-align: center;
    position: absolute;
    top: 25%;
    margin: 0;
    width: 100%;
    height: 100%;
}

.div-Container{
    /* position: relative;
    left: 41%; */
    background-color: hsl(0, 0%, 100%); 
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.1));
    margin: 0 auto; 
    height: auto; 
    padding: 17px 0 0 0; 
    width: 264px;
}

.content-TopCopy{
    color: hsl(218, 44%, 22%);
    font-weight: bolder; 
    margin: 1em auto; 
    letter-spacing: 0.05em; 
    text-align:center justify; 
    width: 220px;
}

.content-BotCopy{
    color: hsl(220, 15%, 55%);
    font-size: 12px; 
    margin: 0 auto; 
    padding: 0 0 3em; 
    width: 210px;
}